.auth_form {
  background: var(--oneColor);
  padding: 40px;
  border-radius: 5px;
}
.auth_btn {
  background-color: var(--twoColor) !important;
  color: white;
  font-weight: 600;
}
.auth_form p {
  margin-top: 30px;
}
.auth_form p a {
  color: white;
}
.auth_form input[type="file"] {
  border: none;
  color: white;
  direction: ltr;
  width: 250px;
}
.custom-file-label {
  color: white;
}
.custom-file {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
